# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
apify-client
requests
azure-storage-blob
azure-ai-vision-imageanalysis